@model Nop.Web.Areas.Admin.Models.Hotels.HotelTypeModel

@using Nop.Core.Domain.Hotels
@using Nop.Services
@using Nop.Services.Stores
@using Nop.Web.Areas.Admin.Models.Hotels

@{
    //var stores = storeService.GetAllStores();

    //resources for hotel tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}

<script>
    $(document).ready(function() {
        
        
    });
</script>

<div class="panel-body">
    @(Html.LocalizedEditor<HotelTypeModel, HotelTypeLocalizedModel>("hotelType-info-localized",
        @<div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="@Model.Locales[item].Name" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="@Model.Locales[item].Name" />
                   <span asp-validation-for="@Model.Locales[item].Name"></span>
               </div>
            </div>
            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
        </div>
        ,
        @<div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="Name" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="Name" asp-required="true" />
                   <span asp-validation-for="Name"></span>
               </div>
            </div>
            <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="DisplayOrder" />
               </div>
               <div class="col-md-9">
                   <nop-editor asp-for="DisplayOrder" />
               </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsActive" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IsActive" />
                </div>
            </div>

         </div>))
</div>
